
body {

}

.vault {
  //@padding = 6px;
  //background: red !important;
  .item {
    align-items: center;
    padding: 6px 0px;
    p {
      margin-bottom: 3px;
    }
    //background: orange !important;
    .favicon {
      margin: 0px 12px 0px 6px;
      max-width: 32px;
      max-height: 32px;
      width: 32px;
      height: 32px;
    }

    .username {
      font-size: 12px;
      color: #4c4c4c;
    }

  }
    .create-button {
      right: 18px !important;
      top: 12px !important;
    }
}

.create-item {
  .controller {
    gap: 30px;
    display: flex;
  }
  .havard-class {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    max-width: 50%;
    .create-button {
      max-width: 150px;
      width: auto;
      margin-left: auto;
    }
    .password-options {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      flex-wrap: wrap;
      .option {
        width: 50%;
        flex-grow: 1;
        display: flex;
        align-items: center;
        height: 42px;
        .form-check-input {
          margin-right: 12px;
        }
        .form-check-label {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .input-group {
    input.checkbox-controlled-height {
      height: 24px; // for some reason, the bootstrap checkbox doesn't like us
    }
    .height-helper {
      .far.fa-clipboard {
        height: 24px;
        font-size: 24px;
      }
    }
  }
}

